<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MiniFlipkart</display-name>
  <welcome-file-list>
    <welcome-file>home.all</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListOrderServlet</display-name>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>miniflipkart.order.ListOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/ListOrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>customerfilter</display-name>
    <filter-name>customerfilter</filter-name>
    <filter-class>miniflipkart.filter.customerfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>customerfilter</filter-name>
    <url-pattern>/customerfilter</url-pattern>
  </filter-mapping>
</web-app>